In [3]:
import requests
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [4]:
#import fantasy api url with current data 
data_url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
#get request from api endpoint
r = requests.get(data_url)
#transform into json object
json = r.json()
#preview json keys
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [5]:
#create dataframe
players_df = pd.DataFrame(json['elements'])
players_df

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,0.0,0.0,37605,0,0,-3,3,0,3,0.0,...,650,262,650,262,NaN,,NaN,,NaN,
1,0.0,0.0,39476,0,0,-2,2,0,2,0.0,...,591,219,610,221,NaN,,NaN,,NaN,
2,100.0,100.0,41270,0,0,-1,1,0,2,4.3,...,212,58,289,98,NaN,,4.0,,NaN,
3,0.0,50.0,54694,0,0,-7,7,1,3,0.0,...,27,14,42,28,NaN,,NaN,,1.0,
4,100.0,100.0,58822,0,0,-4,4,0,2,4.3,...,373,140,349,125,NaN,,NaN,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,NaN,NaN,448487,0,0,0,0,0,1,-0.5,...,460,23,511,53,NaN,,NaN,,NaN,
646,0.0,NaN,209353,0,0,-1,1,0,4,0.0,...,398,61,470,63,NaN,,NaN,,NaN,
647,NaN,NaN,465551,0,0,0,0,0,2,-0.5,...,463,181,514,195,NaN,,NaN,,NaN,
648,100.0,100.0,73314,0,0,0,0,0,4,1.0,...,261,49,381,51,NaN,,NaN,,NaN,
649,NaN,NaN,490721,0,0,0,0,0,2,0.7,...,467,185,518,199,NaN,,NaN,,NaN,

In [6]:
stats_df = pd.DataFrame(json['element_stats'])
stats_df

                  label              name
0        Minutes played           minutes
1          Goals scored      goals_scored
2               Assists           assists
3          Clean sheets      clean_sheets
4        Goals conceded    goals_conceded
5             Own goals         own_goals
6       Penalties saved   penalties_saved
7      Penalties missed  penalties_missed
8          Yellow cards      yellow_cards
9             Red cards         red_cards
10                Saves             saves
11                Bonus             bonus
12  Bonus Points System               bps
13            Influence         influence
14           Creativity        creativity
15               Threat            threat
16            ICT Index         ict_index

In [7]:
gameweeks_df = pd.DataFrame(json['events'])
gameweeks_df

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,is_current,is_next,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2020-09-12T10:00:00Z,50,True,True,4761681.0,1599904800,0,142.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 112843}...",259.0,12.0,254.0,"{'id': 254, 'points': 20}",0,4.0,4.0
1,2,Gameweek 2,2020-09-19T10:00:00Z,59,True,True,6234344.0,1600509600,0,165.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 94615},...",259.0,302.0,390.0,"{'id': 390, 'points': 24}",14637421,4.0,254.0
2,3,Gameweek 3,2020-09-26T10:00:00Z,43,True,True,6223553.0,1601114400,0,119.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 86797},...",259.0,164.0,224.0,"{'id': 224, 'points': 17}",20387878,272.0,254.0
3,4,Gameweek 4,2020-10-03T10:00:00Z,48,True,True,6563000.0,1601719200,0,160.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 82267},...",272.0,164.0,37.0,"{'id': 37, 'points': 24}",14570655,254.0,272.0
4,5,Gameweek 5,2020-10-17T10:00:00Z,60,True,True,7124486.0,1602928800,0,136.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 80554},...",164.0,390.0,117.0,"{'id': 117, 'points': 16}",18391649,390.0,254.0
5,6,Gameweek 6,2020-10-23T17:30:00Z,48,True,True,4289106.0,1603474200,0,123.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 58697},...",164.0,388.0,202.0,"{'id': 202, 'points': 17}",12707803,254.0,390.0
6,7,Gameweek 7,2020-10-30T18:30:00Z,53,True,True,6909580.0,1604082600,0,131.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 68374},...",390.0,232.0,370.0,"{'id': 370, 'points': 17}",8811577,388.0,390.0
7,8,Gameweek 8,2020-11-06T16:00:00Z,55,True,True,601887.0,1604678400,0,133.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 76086},...",390.0,110.0,302.0,"{'id': 302, 'points': 17}",9570772,388.0,390.0
8,9,Gameweek 9,2020-11-21T11:00:00Z,55,True,True,1800361.0,1605956400,0,119.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 76389},...",164.0,302.0,164.0,"{'id': 164, 'points': 13}",12576286,302.0,390.0
9,10,Gameweek 10,2020-11-27T18:30:00Z,44,True,True,4357171.0,1606501800,0,117.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 48490},...",164.0,468.0,275.0,"{'id': 275, 'points': 21}",8328156,224.0,164.0
10,11,Gameweek 11,2020-12-05T11:00:00Z,62,True,True,5110538.0,1607166000,0,132.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 41291},...",164.0,468.0,141.0,"{'id': 141, 'points': 18}",10260651,302.0,390.0
11,12,Gameweek 12,2020-12-11T18:30:00Z,51,True,True,3123679.0,1607711400,0,120.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 89621},...",390.0,254.0,231.0,"{'id': 231, 'points': 16}",7999562,254.0,390.0
12,13,Gameweek 13,2020-12-15T16:30:00Z,42,True,True,7635989.0,1608049800,0,100.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 75312},...",390.0,141.0,165.0,"{'id': 165, 'points': 14}",6780344,302.0,390.0
13,14,Gameweek 14,2020-12-19T11:00:00Z,60,True,True,2778028.0,1608375600,0,136.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 49711},...",390.0,474.0,309.0,"{'id': 309, 'points': 18}",5947944,254.0,390.0
14,15,Gameweek 15,2020-12-26T11:00:00Z,41,True,True,7696631.0,1608980400,0,110.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 57942},...",390.0,254.0,39.0,"{'id': 39, 'points': 15}",9177142,254.0,390.0
15,16,Gameweek 16,2020-12-28T13:30:00Z,37,True,True,3757024.0,1609162200,0,95.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 50094},...",390.0,376.0,88.0,"{'id': 88, 'points': 15}",6438409,254.0,390.0
16,17,Gameweek 17,2021-01-01T16:00:00Z,56,True,True,7770159.0,1609516800,0,129.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 41306},...",390.0,141.0,17.0,"{'id': 17, 'points': 18}",7293426,254.0,390.0
17,18,Gameweek 18,2021-01-12T16:30:00Z,30,True,True,7254288.0,1610469000,0,86.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 19636},...",390.0,272.0,156.0,"{'id': 156, 'points': 11}",32158085,388.0,390.0
18,19,Gameweek 19,2021-01-16T11:00:00Z,74,True,True,1915505.0,1610794800,0,195.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 387836}...",390.0,449.0,273.0,"{'id': 273, 'points': 27}",12977478,254.0,302.0
19,20,Gameweek 20,2021-01-26T16:30:00Z,42,True,True,3387201.0,1611678600,0,123.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 83827},...",390.0,273.0,277.0,"{'id': 277, 'points': 17}",11307045,302.0,390.0
20,21,Gameweek 21,2021-01-30T11:00:00Z,20,False,False,7911107.0,1612004400,0,91.0,...,True,False,"[{'chip_name': 'bboost', 'num_played': 52599},...",390.0,164.0,102.0,"{'id': 102, 'points': 15}",8598592,302.0,390.0
21,22,Gameweek 22,2021-02-02T16:30:00Z,0,False,False,NaN,1612283400,0,NaN,...,False,True,[],NaN,NaN,NaN,None,0,NaN,NaN
22,23,Gameweek 23,2021-02-06T11:00:00Z,0,False,False,NaN,1612609200,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
23,24,Gameweek 24,2021-02-13T11:00:00Z,0,False,False,NaN,1613214000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
24,25,Gameweek 25,2021-02-19T18:30:00Z,0,False,False,NaN,1613759400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
25,26,Gameweek 26,2021-02-27T11:00:00Z,0,False,False,NaN,1614423600,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
26,27,Gameweek 27,2021-03-06T13:30:00Z,0,False,False,NaN,1615037400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
27,28,Gameweek 28,2021-03-13T13:30:00Z,0,False,False,NaN,1615642200,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
28,29,Gameweek 29,2021-03-20T13:30:00Z,0,False,False,NaN,1616247000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
29,30,Gameweek 30,2021-04-03T12:30:00Z,0,False,False,NaN,1617453000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
30,31,Gameweek 31,2021-04-10T12:30:00Z,0,False,False,NaN,1618057800,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
31,32,Gameweek 32,2021-04-17T12:30:00Z,0,False,False,NaN,1618662600,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
32,33,Gameweek 33,2021-04-24T12:30:00Z,0,False,False,NaN,1619267400,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
33,34,Gameweek 34,2021-05-01T12:30:00Z,0,False,False,NaN,1619872200,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
34,35,Gameweek 35,2021-05-08T12:30:00Z,0,False,False,NaN,1620477000,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
35,36,Gameweek 36,2021-05-11T17:15:00Z,0,False,False,NaN,1620753300,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
36,37,Gameweek 37,2021-05-15T12:30:00Z,0,False,False,NaN,1621081800,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN
37,38,Gameweek 38,2021-05-23T13:30:00Z,0,False,False,NaN,1621776600,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN

In [8]:
positions_df = pd.DataFrame(json['element_types'])
positions_df

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],74
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],229
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],262
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],85

In [9]:
teams_df = pd.DataFrame(json['teams'])
teams_df

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1190,1210,1170,1210,1190,1200,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1150,1160,1150,1150,1180,1210,2
2,36,0,None,3,0,Brighton,0,0,0,BHA,...,None,False,0,1080,1100,1150,1180,1090,1100,131
3,90,0,None,4,0,Burnley,0,0,0,BUR,...,None,False,0,1050,1080,1120,1190,1010,1030,43
4,8,0,None,5,0,Chelsea,0,0,0,CHE,...,None,False,0,1260,1280,1240,1280,1270,1310,4
5,31,0,None,6,0,Crystal Palace,0,0,0,CRY,...,None,False,0,1110,1150,1100,1150,1020,1050,6
6,11,0,None,7,0,Everton,0,0,0,EVE,...,None,False,0,1180,1210,1150,1170,1210,1250,7
7,54,0,None,8,0,Fulham,0,0,0,FUL,...,None,False,0,1000,1020,1020,1030,1020,1020,34
8,13,0,None,9,0,Leicester,0,0,0,LEI,...,None,False,0,1220,1240,1190,1190,1200,1180,26
9,2,0,None,10,0,Leeds,0,0,0,LEE,...,None,False,0,1100,1130,1060,1110,1130,1160,9
10,14,0,None,11,0,Liverpool,0,0,0,LIV,...,None,False,0,1320,1360,1240,1320,1330,1350,10
11,43,0,None,12,0,Man City,0,0,0,MCI,...,None,False,0,1310,1360,1260,1320,1330,1350,11
12,1,0,None,13,0,Man Utd,0,0,0,MUN,...,None,False,0,1230,1230,1220,1230,1250,1260,12
13,4,0,None,14,0,Newcastle,0,0,0,NEW,...,None,False,0,1100,1130,1100,1120,1010,1060,23
14,49,0,None,15,0,Sheffield Utd,0,0,0,SHU,...,None,False,0,1070,1100,1110,1130,1010,1050,18
15,20,0,None,16,0,Southampton,0,0,0,SOU,...,None,False,0,1150,1180,1140,1200,1110,1160,20
16,6,0,None,17,0,Spurs,0,0,0,TOT,...,None,False,0,1270,1280,1190,1240,1280,1320,21
17,35,0,None,18,0,West Brom,0,0,0,WBA,...,None,False,0,1010,1030,1020,1020,1000,1010,36
18,21,0,None,19,0,West Ham,0,0,0,WHU,...,None,False,0,1140,1170,1150,1160,1170,1180,25
19,39,0,None,20,0,Wolves,0,0,0,WOL,...,None,False,0,1160,1190,1180,1220,1100,1170,38

In [10]:
#check all data columns of the players
players_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [11]:
#Keep the columns we could use
cut_players_df = players_df[['id','second_name','first_name','minutes','value_season','value_form','form','total_points','points_per_game','team','team_code','in_dreamteam','now_cost','event_points','chance_of_playing_next_round','code','dreamteam_count','element_type','goals_scored','assists','clean_sheets','goals_conceded','own_goals','penalties_saved','penalties_missed','yellow_cards','red_cards','saves','bonus','bps','influence','creativity','threat','ict_index'
                    ]]
cut_players_df.head(10)

,id,second_name,first_name,minutes,value_season,value_form,form,total_points,points_per_game,team,...,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,1,Ã–zil,Mesut,0,0.0,0.0,0.0,0,0.0,1,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,2,Papastathopoulos,Sokratis,0,0.0,0.0,0.0,0,0.0,1,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,3,Luiz Moreira Marinho,David,839,5.2,0.7,3.8,28,2.3,1,...,0,1,0,0,0,143,132.8,30.4,86.0,24.9
3,4,Aubameyang,Pierre-Emerick,1514,6.3,0.4,4.2,71,4.2,1,...,0,2,0,0,6,202,272.2,226.3,519.0,101.8
4,5,Soares,CÃ©dric,275,4.3,0.8,3.8,20,5.0,1,...,0,1,0,0,3,71,53.6,65.7,10.0,12.9
5,6,Lacazette,Alexandre,1211,8.9,0.7,5.8,75,4.2,1,...,0,2,0,0,11,265,380.6,204.8,566.0,114.9
6,7,Mustafi,Shkodran,45,0.6,0.0,0.0,3,1.0,1,...,0,0,0,0,0,16,11.6,1.0,0.0,1.3
7,8,Leno,Bernd,1890,17.8,1.2,5.8,89,4.2,1,...,0,0,0,51,6,407,437.2,0.0,0.0,43.7
8,9,Xhaka,Granit,1354,8.1,0.7,3.4,42,2.5,1,...,0,2,1,0,1,220,240.0,108.0,102.0,45.0
9,10,MarÃ­,Pablo,270,3.2,0.3,1.2,14,4.7,1,...,0,1,0,0,1,63,59.0,11.7,4.0,7.4

In [12]:
#merge player position (abbreviation) into players file
cut_players_df['position'] = cut_players_df.element_type.map(positions_df.set_index('id').plural_name_short)

In [13]:
cut_players_df.head(5)

,id,second_name,first_name,minutes,value_season,value_form,form,total_points,points_per_game,team,...,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,position
0,1,Ã–zil,Mesut,0,0.0,0.0,0.0,0,0.0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,MID
1,2,Papastathopoulos,Sokratis,0,0.0,0.0,0.0,0,0.0,1,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
2,3,Luiz Moreira Marinho,David,839,5.2,0.7,3.8,28,2.3,1,...,1,0,0,0,143,132.8,30.4,86.0,24.9,DEF
3,4,Aubameyang,Pierre-Emerick,1514,6.3,0.4,4.2,71,4.2,1,...,2,0,0,6,202,272.2,226.3,519.0,101.8,MID
4,5,Soares,CÃ©dric,275,4.3,0.8,3.8,20,5.0,1,...,1,0,0,3,71,53.6,65.7,10.0,12.9,DEF

In [14]:
#merge team name to player file
cut_players_df['team'] = cut_players_df.team.map(teams_df.set_index('id').name)

In [15]:
cut_players_df.head(5)

,id,second_name,first_name,minutes,value_season,value_form,form,total_points,points_per_game,team,...,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,position
0,1,Ã–zil,Mesut,0,0.0,0.0,0.0,0,0.0,Arsenal,...,0,0,0,0,0,0.0,0.0,0.0,0.0,MID
1,2,Papastathopoulos,Sokratis,0,0.0,0.0,0.0,0,0.0,Arsenal,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
2,3,Luiz Moreira Marinho,David,839,5.2,0.7,3.8,28,2.3,Arsenal,...,1,0,0,0,143,132.8,30.4,86.0,24.9,DEF
3,4,Aubameyang,Pierre-Emerick,1514,6.3,0.4,4.2,71,4.2,Arsenal,...,2,0,0,6,202,272.2,226.3,519.0,101.8,MID
4,5,Soares,CÃ©dric,275,4.3,0.8,3.8,20,5.0,Arsenal,...,1,0,0,3,71,53.6,65.7,10.0,12.9,DEF

In [16]:
#sort data by points
cut_players_df_sorted = cut_players_df.sort_values('total_points', ascending=False)
cut_players_df_sorted

,id,second_name,first_name,minutes,value_season,value_form,form,total_points,points_per_game,team,...,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,position
332,254,Salah,Mohamed,1651,11.7,0.4,4.6,146,7.3,Liverpool,...,0,0,0,16,442,696.8,487.9,1001.0,218.5,MID
395,302,Borges Fernandes,Bruno Miguel,1745,12.7,0.3,3.0,145,6.9,Man Utd,...,4,0,0,22,522,783.0,876.2,728.0,238.9,MID
522,390,Son,Heung-Min,1706,14.6,0.5,4.8,143,7.2,Spurs,...,0,0,0,18,458,657.8,526.8,638.0,182.6,MID
520,388,Kane,Harry,1654,12.9,0.5,6.0,143,7.5,Spurs,...,1,0,0,26,512,763.4,371.2,792.0,192.4,FWD
296,202,Bamford,Patrick,1695,18.0,0.8,5.0,119,6.0,Leeds,...,1,0,0,16,388,508.0,160.2,934.0,160.1,FWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,257,Wilson,Harry,0,0.0,0.0,0.0,0,0.0,Liverpool,...,0,0,0,0,0,0.0,0.0,0.0,0.0,MID
1,2,Papastathopoulos,Sokratis,0,0.0,0.0,0.0,0,0.0,Arsenal,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
320,242,Tsimikas,Konstantinos,0,0.0,0.0,0.0,0,0.0,Liverpool,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
649,649,Bueno,Hugo,0,0.0,0.0,0.0,0,0.0,Wolves,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
39,31,Taylor,Neil,15,-0.2,0.0,-0.2,-1,-1.0,Aston Villa,...,1,0,0,0,1,0.8,0.7,0.0,0.2,DEF

In [19]:
#Export to CSV file 
cut_players_df_sorted.to_csv('currentpoints.csv', index=False)

In [18]:
#Export to CSV file 
cut_players_df_sorted.to_csv('currentpoints.zip', index=False)