In [1]:
#import dependencies
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
import scipy as sp
import sklearn as sk
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from matplotlib.pyplot import figure
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.utils import to_categorical
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from tensorflow.keras.layers.experimental.preprocessing import RandomRotation
from keras.callbacks import EarlyStopping
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D
from keras.optimizers import SGD
from keras.layers.advanced_activations import LeakyReLU
import seaborn as sns
import joblib

Using TensorFlow backend.

In [3]:
df = pd.read_csv('api/data/resources/currentpoints.csv')
df

,id,second_name,first_name,minutes,value_season,value_form,form,total_points,points_per_game,team,...,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,position
0,254,Salah,Mohamed,1651,11.7,0.4,4.6,146,7.3,Liverpool,...,0,0,0,16,442,696.8,487.9,1001.0,218.5,MID
1,302,Borges Fernandes,Bruno Miguel,1745,12.7,0.3,3.0,145,6.9,Man Utd,...,4,0,0,22,522,783.0,876.2,728.0,238.9,MID
2,390,Son,Heung-Min,1706,14.6,0.5,4.8,143,7.2,Spurs,...,0,0,0,18,458,657.8,526.8,638.0,182.6,MID
3,388,Kane,Harry,1654,12.9,0.5,6.0,143,7.5,Spurs,...,1,0,0,26,512,763.4,371.2,792.0,192.4,FWD
4,202,Bamford,Patrick,1695,18.0,0.8,5.0,119,6.0,Leeds,...,1,0,0,16,388,508.0,160.2,934.0,160.1,FWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,257,Wilson,Harry,0,0.0,0.0,0.0,0,0.0,Liverpool,...,0,0,0,0,0,0.0,0.0,0.0,0.0,MID
646,2,Papastathopoulos,Sokratis,0,0.0,0.0,0.0,0,0.0,Arsenal,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
647,242,Tsimikas,Konstantinos,0,0.0,0.0,0.0,0,0.0,Liverpool,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
648,649,Bueno,Hugo,0,0.0,0.0,0.0,0,0.0,Wolves,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
649,31,Taylor,Neil,15,-0.2,0.0,-0.2,-1,-1.0,Aston Villa,...,1,0,0,0,1,0.8,0.7,0.0,0.2,DEF

In [10]:
cut_df = df.drop(columns=['second_name', 'first_name', 'value_form', 'team', 'team_code', 'in_dreamteam', 'code', 'own_goals', 'penalties_saved','penalties_missed','yellow_cards', 'red_cards', 'saves', 'chance_of_playing_next_round','dreamteam_count', 'goals_conceded', 'position','element_type','now_cost','value_season','minutes'])
cut_df

,id,form,total_points,points_per_game,event_points,goals_scored,assists,clean_sheets,bonus,bps,influence,creativity,threat,ict_index
0,254,4.6,146,7.3,15,15,4,5,16,442,696.8,487.9,1001.0,218.5
1,302,3.0,145,6.9,3,11,9,7,22,522,783.0,876.2,728.0,238.9
2,390,4.8,143,7.2,2,12,6,8,18,458,657.8,526.8,638.0,182.6
3,388,6.0,143,7.5,0,12,11,6,26,512,763.4,371.2,792.0,192.4
4,202,5.0,119,6.0,15,11,7,6,16,388,508.0,160.2,934.0,160.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,257,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
646,2,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
647,242,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
648,649,0.0,0,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0
649,31,-0.2,-1,-1.0,0,0,0,0,0,1,0.8,0.7,0.0,0.2

In [11]:
cut_df.to_csv('cut_points_data.csv')