In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
 
# scipy
import scipy as sp

# scikit-learn
import sklearn as sk

# import other important functions and algorithms
from pandas.plotting import scatter_matrix
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn import svm
import seaborn as sns

In [3]:
#import dataframe
currentpoints = pd.read_csv('api/data/resources/currentpoints.csv')
currentpoints

,id,second_name,first_name,value_season,value_form,form,total_points,points_per_game,team,team_code,...,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index,position
0,302,Borges Fernandes,Bruno Miguel,12.5,0.4,4.7,142,7.1,Man Utd,1,...,4,0,0,22,514,776.0,859.9,710.0,234.8,MID
1,388,Kane,Harry,12.6,0.6,7.2,142,7.9,Spurs,6,...,1,0,0,26,513,763.4,371.1,790.0,192.4,FWD
2,390,Son,Heung-Min,14.3,0.5,5.0,139,7.7,Spurs,6,...,0,0,0,18,436,639.2,494.7,598.0,173.5,MID
3,254,Salah,Mohamed,10.3,0.1,1.8,129,7.2,Liverpool,14,...,0,0,0,13,383,616.8,441.0,896.0,195.3,MID
4,224,Vardy,Jamie,11.6,0.2,2.2,116,6.4,Leicester,13,...,1,0,0,17,412,527.8,183.3,762.0,147.4,FWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,199,Forshaw,Adam,0.0,0.0,0.0,0,0.0,Leeds,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,MID
640,196,Douglas,Barry,0.0,0.0,0.0,0,0.0,Leeds,2,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
641,237,Benkovic,Filip,0.0,0.0,0.0,0,0.0,Leicester,13,...,0,0,0,0,0,0.0,0.0,0.0,0.0,DEF
642,1,Ã–zil,Mesut,0.0,0.0,0.0,0,0.0,Arsenal,3,...,0,0,0,0,0,0.0,0.0,0.0,0.0,MID
643,31,Taylor,Neil,-0.2,0.0,-0.2,-1,-1.0,Aston Villa,7,...,1,0,0,0,1,0.8,0.7,0.0,0.2,DEF

In [6]:
currentpoints.sort_values('minutes', inplace=True, ascending = False)

KeyError: 'minutes'